/* Core styles for the page */
html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #616161;
	white-space: nowrap;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.6em;
}

h1, h2, h3 {
	margin: 0;
}

table {
	border-collapse: collapse;
}

/**************** Common Classes ****************/
.right {
	float:right;
}

.left  {
	float:left;
}

.taleft {
	text-align:left;
}

.taright {
	text-align:right;
}

.tacenter {
	text-align:center;
}

.vatop {
	vertical-align: top !important;
}

.vamid {
	vertical-align: middle !important;
}

.bold {
	font-weight: bold;
}

.fullWidth {
	width: 100% !important;
}

.autoWidth {
	width: auto !important;
}

.w50y {
	width: 50% !important;
}

.clear {
	clear: both;
}

.mw200 {
	min-width: 200px !important;
}