/* Core styles for the page */
html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #616161;
	white-space: nowrap;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 1.6em;
}

h1, h2, h3 {
	margin: 0;
}

table {
	border-collapse: collapse;
}

/**************** Common Classes ****************/
.right {
	float:right !important;
}

.left  {
	float:left !important;
}

.taleft {
	text-align:left !important;
}

.taright {
	text-align:right !important;
}

.tacenter {
	text-align:center !important;
}

.vatop {
	vertical-align: top !important;
}

.vamid {
	vertical-align: middle !important;
}

.bold {
	font-weight: bold !important;
}

.fullWidth {
	width: 100% !important;
}

.autoWidth {
	width: auto !important;
}

.w50y {
	width: 50% !important;
}

.clear {
	clear: both;
}

.mw200 {
	min-width: 200px !important;
}

.fs12 {
	font-size: 12px !important;
}

.fs11 {
	font-size: 11px !important;
}

.fs10 {
	font-size: 10px !important;
}

.fs9 {
	font-size: 9px !important;
}

.normal {
	font-weight: normal !important;
}

.inline-block {
	display: inline-block !important;
}

.block {
	display: block !important;
}

.underline {
	text-decoration: underline;
}

.spacer {
	height: 7px;
}

.wsnormal {
	white-space: normal !important;
}

.wsnowrap {
	white-space: nowrap !important;
}