.ui-widget {
	font-size: 12px !important;
}

.ui-menu .ui-menu-list .ui-menuitem {
	margin-right: 7px;
}

.ui-menu.ui-widget li.ui-corner-all, .ui-menu.ui-widget a.ui-corner-all {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-text {
	margin-right: 3px;
}

.ui-inputtext {
	cursor: text !important;
}

.ui-inputtextarea {
	cursor: text !important;
}

.ui-autocomplete-input {
	cursor: text !important;
}

.ui-state-focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6) !important;
	outline: none !important;
}

.ui-chkbox .ui-chkbox-label {
	margin: 2px 5px !important;
}

.ui-dialog.ui-widget-content .ui-dialog-titlebar {
	padding: 3px 15px !important;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon {
	margin-top: -9px !important;
}

.ui-tabs .ui-tabs-panel {
	padding: 1em 0.4em !important;
}

.ui-selectmanycheckbox label, .ui-selectoneradio label {
	margin-top: 0 !important;
	margin-left: 3px !important;
}

.ui-panelgrid td {
	vertical-align: top;
}

.ui-column-filter {
	width: 70% !important;
}

select.ui-column-filter {
	width: auto !important;
}

.ui-paginator-current {
	float: left;
	margin: 0.2em -9em 0 0 !important;
}

.ui-paginator-rpp-options {
	float: right;
	margin-left: -5em !important;
	margin-right: 0.2em !important;
	margin-top: 0.2em;
}